#video {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    padding: 3%;
    /*Mirror code starts*/
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
    /*Mirror code ends*/
}


#hint {
    position: absolute;
    bottom: 50px;
    right: 50px;
    height: 80px;
    z-index: 1;
    
}

#title {
    position: absolute;
    right: 50px;
    height: 150px;
    top: 50px;
    z-index: 1;
}

h1 {
    color: white;
    opacity: 80%;
    font-family: "Cabin";
    font-size: 50px;
    line-height: 50px;
    font-weight: 200;
    letter-spacing: -0.825px;
    margin-bottom: 0px;
  }
  h2 {
    color: white;
    opacity: 80%;
    font-family: "Cabin";
    font-size: 17px;
    line-height: 17px;
    font-weight: 300;
    letter-spacing: -0.825px;
    margin-bottom: 0px;
  }